.section2{
    width: 97vw;
    height: 35vh;
    background-color:white;
    margin: 10px auto;
    
    border-radius: 10px;
}
.section2-header{
    padding: 15px;
    display: flex;
    justify-content: center;
}
.section2-item{
    justify-content: space-around;
    padding: 15px;
    margin: 0 20px;
    flex-wrap: wrap;
}
.section2-image{
    width: 15vw;
    height: 17vh;
    margin: 10px;
}