.container {
  margin: 0 auto;
  margin-top: 3vh;
  width: 95%;
  min-height: 50%;
  background-color: white;
  border-radius: 5px;
}
.aboutUs {
  display: flex;
  flex-direction: column;
}
.h2 {
  color: rgb(212, 10, 10);
  margin: 15px 20px;
  padding: 10px;
  text-align: center;
}
.center {
  font-size: 1.3em;
}
.imgUs {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 10px;
  width: 40px;
}
.spanImg {
  font-size: 1.4em;
  padding: 10px;
}
