.container-del{
    margin: 0 auto;
    margin-top: 3vh;
    width: 95%;
    min-height: 50%;
    background-color: white;
    border-radius: 5px;
    
}
.container-del-item{
    color: rgb(212, 10, 10);
    margin: 15px 20px;
    padding: 10px;
}
.container-del-item-list{
    margin: 15px 20px;
    padding: 10px;
}
