body{
    background-color: rgb(207, 201, 201);
}

.News{
    /* box-shadow: 10px 10px 10px black; */
    max-width: 35vw;
    max-height: 400px;
    margin: 10px 20px;
    border-radius: 10px;
    background-color: white;
    

}
@media screen and (max-width:850px) {
    .News{
        display: none;
    }
}



.news-text{
    margin: 0 auto;
    max-width: 28vw;
    max-height: 4vh;
    background-color: rgb(212, 10, 10);
    color: white;
    text-align: center;
    


}
.news-text-item{
    text-align: center;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    height: 90%;
    
}
.news-text-item-elem {
    width: 90%;
    height: 9vh;
    cursor: pointer;
    border-bottom: solid 2px black;
    transition: 0,5s linear;
}
.news-text-item-elem:hover{
    color: rgb(212, 10, 10);
}

.hero{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
   
    
    align-items: center;
}
.hero-image{
    margin: 0 auto;
    margin-right: 23px;
    
}

.hero-image-item{
    margin-top: 10px;
    width:55vw;
    max-height: 55vh;
    border-radius: 10px;
}
@media screen and (max-width:850px){
    .hero-image-item{
        width:100vw;
        max-height: 45vh;
        border-radius: 20px;
    }
    
}

